APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_PORT=8080
DATABASE_DSN=pgsql:host=127.0.0.1;port=5432;dbname=backup_catalog
DATABASE_USER=backup_catalog
DATABASE_PASSWORD=backup_catalog_local
OVERDUE_RUNNING_HOURS=4
MIGRATE_ON_START=true
